*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline{
	background-color: lightgrey;
	padding: 15px 0;
	color: black;
}
.header_topline a{
	color: black;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	background-color: lightgrey;
	margin-top: 10px;



}
.top_links a {
	padding: 0, 15px;
	line-height: 1px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: "RobotoCondensedLight";
	z-index: 10;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right;
}
.soc_buttons > a {
	font-size: 26px;
	margin-left: 8px;
}
.unfold, .main_menu_button{
	border: none;
	background-color: transparent;
	font-size: 26px;
}
.main_menu_button{
	color: black;
	padding: 8px 15px 0;
}
.logo {
	display: block;
	padding: 15px ;
	margin-top: 15px;
	color: black;
	font-family: "ACLineRegular";
	font-size: 60px;
	text-align: center;
}


.top_header{
		background-color: white;
}
.maian_mnu{
	/*background-color: #4aaad2;*/
	color: black;
	margin-bottom: 10px;
}
.maian_mnu a {
	color: black;
	padding: 16px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;

}
.maian_mnu a:hover {
	background-color: lightgrey;

}
.maian_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	z-index: 12;
	background-color: white;
}
.maian_mnu ul li {
	display: inline-block;
}
.top_contacts {
	float: right;
	font-size: 25px;
	padding: 0, 15px;
	line-height: 53px;
}
h1 {
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
	margin-bottom: 20px;
margin-top: 30px;
}
h6 {
	font-family: "RobotoCondensedLight";
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 5px;
margin-top: 5px;
}

.slider_container img {
	max-width: 100%;

}
.slider_container {
	position: relative;
}
.next_button,
.prev_button{
	color: black;
	border-radius: 10em;
	font-size: 46px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 20%;
}
.next_button{
	right: 20px;
}
.prev_button {
	left: 20px;
}
section.order {
	background-color: white;
	padding: 30px 10px 20px 10px;

}
.links {
padding-top: 0px;
vertical-align: top;
margin: 1px;
}
.links:hover {
	color: grey;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;

}
/*СТИЛИ КНОПОК НАЧАЛО*/
.button_left{
 display: inline-block;
 border:1px solid #0D0B03;
 color: #0A0A0A;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: "RobotoCondensedLight";
 width: 306px;
 height: 54px;
 font-size: 20px;
 text-transform: uppercase;
 padding: 12px 73px;
 background-color: #FFFFFF;
 margin-bottom: 20px;
 outline: none;
}
.button_left:hover, .button_left:active{
 border:1px solid #000000;
 color: #000000;
 background-color: #D3D3D3;
 -webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
 /*КОНЕЦ СТИЛЯ КНОПОК*/

/*увеличение картинок*/
.image {
 overflow:hidden;
 
 }
 .image img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

 .image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

 /*Конец увеличения картинок*/

 /*Статистика*/

 section.order_stat {
	background-color: white;
	padding: 10px 10px 10px 10px;
}
 
 .stat /*оформление границ*/{
 display: inline-block;
border: 2px solid black;
color: #0A0A0A;
border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
font-family: "RobotoCondensedLight";
width: 263px;
height: 148px;
font-size: 17px;
text-transform: uppercase;
padding: 40px;
background-color: #FFFFFF;
margin-bottom: 20px;
outline: none;
overflow: hidden;
text-align: center;
 }
 .numbers {
 	font-size: 30px;


 }
.stat_text{
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
	margin-bottom: 1px;
	margin-top: 0px;
	padding: 0px;

}
.service /*оформление границ*/{
 display: inline-block;
 border: none;
 color: #0A0A0A;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: "RobotoCondensedLight";
 width: auto;
 height: auto;
 font-size: 12px;
 text-transform: uppercase;
 padding: 20px;
 background-color: #FFFFFF;
 margin-bottom: 20px;
 outline: none;
 overflow: hidden;
 }
 .service_btn {
	font-size: 26px;
	margin-left: 8px;
}
.service_btn:hover{
font-size: 50px;
}
.service_heading{
	font-size: 20px;
}
.hidden{
	display: none;
}
.pop_form input[type=text]{
	display: block;
	width: 90%;
	margin: 0 auto 12px;
	line-height: 24px;

}
.pop_form .button_left{
	margin:auto;
}
.pop_form h3{
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	/*font-family: "RobotoCondensedBold";*/
	text-transform: uppercase;
}
/*Картинки сотрудников*/
.image_about {
 overflow:hidden;
 border-radius: 100px;
 
 }
 .text_sotr{
 	padding-top: 0;
 }
 .mymap{
 	height: 500px;
 	padding: 50px;
 }
 /*-------------САЙДБАР----------------*/
 
.sidebar{
	float: left;
	width: 30%;
	margin-bottom: 10px; 

}
.content{
	float: left;
	width: 70%;
	margin-bottom: 10px;
	padding-left: 10px;
	
	
}
.inner-sidebar{
	/*background: red;*/
	min-height: 500px; 

}
.inner-content{
	background: blue;
	min-height: 500px;


}
.namestyle{
	margin: 0;
	border-bottom: 1px solid black;
}

.namestyle_font{
	font-family: "RobotoCondensedLight";
	font-size: 30px;
	font-weight: 600;
	padding: 0;
	text-transform: uppercase;
}
/*hr{
	top:10;
	size: 30px;
	color: red;
}*/
.text_style{
	font-family: "RobotoCondensedLight";
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
}