.menu_sled {
	/*background-color: #4aaad2;*/
	position: relative;
	color: black;
	margin-bottom: 10px;
	text-align: center;
	width: 100%
	line-height: 10px;
	top: 0;
}
.menu_sled a {
	color: black;
	padding: 16px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;

}
.menu_sled a:hover {
	background-color: lightgrey;

}
.menu_sled ul,
.menu_sled li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
	z-index: 12;
	background-color: white;
}
.menu_sled li {
	display: inline-block;
}
.sec {
	min-height: 700px;

}
.top_btn {
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    border: 2px solid #000000;
    color: black;
    border-radius: 50px 5px 50px 50px;
    -webkit-border-radius: 50px 5px 50px 50px;
    -moz-border-radius: 50px 5px 50px 50px;
    font-family: Verdana;
    width: 60px;
    height: 60px;
    font-size: 40px;
    /* padding: 40px 40px; */
    /*padding-top: 7px;*/
    background-color: lightgrey;
    cursor: pointer;
    display: block;
    padding: 7px;

}

/*САЙДБАР*/
.sidebar{
	float: left;
	width: 300px;
	padding: 20px;
    height: auto;
	background-color: white;
	position: inherit;
    box-shadow:-10px 5px 7px #d3d3d3, inset 0px 0px 1px #d3d3d3;
     border:outset 1px black; 

	-webkit-transition: left 1s ease-out 0.2s;
	-moz-transition: left 1s ease-out 0.2s;
	-o-transition: left 1s ease-out 0.2s;
	transition: left 1s ease-out 0.2s;

}
.sidebar_usl{
    float: left;
    width: 300px;
    padding: 20px;
    height: auto;
    background-color: white;
    position: inherit;
    box-shadow:-10px 5px 7px #d3d3d3, inset 0px 0px 1px #d3d3d3;
     border:outset 1px black; 

    -webkit-transition: left 1s ease-out 0.2s;
    -moz-transition: left 1s ease-out 0.2s;
    -o-transition: left 1s ease-out 0.2s;
    transition: left 1s ease-out 0.2s;

}

.side_content{
	margin-left: 300px;
	padding: 20px;
	background-color: white;
    margin-bottom: 10px;
}
.topside_btn {
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    border: 2px solid #000000;
    color: black;
    border-radius: 50px 5px 50px 50px;
    -webkit-border-radius: 50px 5px 50px 50px;
    -moz-border-radius: 50px 5px 50px 50px;
    font-family: Verdana;
    width: 60px;
    height: 60px;
    font-size: 40px;
    /* padding: 40px 40px; */
    /*padding-top: 7px;*/
    background-color: lightgrey;
    cursor: pointer;
    display: block;

}